<div class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div ng-if="!file" ngf-select="upload($files)" ngf-multiple="false" ngf-pattern="image/*"
               ngf-resize="{width: 180, height: 180, centerCrop: true}" class="image">
            <img src="https://placehold.it/180x180">
          </div>
          <div ng-if="file" ngf-select="upload($files)" ngf-multiple="false" ngf-pattern="image/*"
               ngf-resize="{width: 180, height: 180, centerCrop: true}" class="image">
            <img ngf-src="!file.$error && file">
          </div>
          <div ng-if="file">
            <div class="field is-grouped">
              <p ng-click="toDB(file)" class="control">
                <a class="button is-primary">
                  Subir
                </a>
              </p>
              <p class="control" ngf-select="upload($files)" ngf-multiple="false" ngf-pattern="image/*"
                 ngf-resize="{width: 180, height: 180, centerCrop: true}">
                <a class="button">
                  Cambiar
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="column is-8">
          <form action="" name="formPartner">
            <div class="field">
              <label class="label">Nombre</label>
              <div class="control has-icons-right">
                <input name="name" class="input" ng-class="{'is-danger': formPartner.name.$touched && formPartner.name.$invalid,'is-success':formPartner.name.$touched && formPartner.name.$valid}" ng-model="form.name" type="text" placeholder="CreeTec" required>
                <span class="icon is-small is-right">
                    <i ng-class="{'fa fa-warning':formPartner.name.$touched && formPartner.name.$invalid,'fa fa-check':formPartner.name.$touched && formPartner.name.$valid}"></i>
                  </span>
              </div>
              <!--p class="help is-success">This username is available</p-->
            </div>
            <div class="field">
              <label class="label" for="locationField">Dirección</label>
              <div class="control has-icons-right" id="locationField">
                <input class="input" id="autocomplete" placeholder="Ingresa tu dirección" onfocus="geolocate();" type="text"/>
              </div>
              <!--<label class="label">Dirección</label>
              <div class="control has-icons-right">
                <input name="address" class="input"  ng-class="{'is-danger': formPartner.address.$touched && formPartner.address.$invalid,'is-success':formPartner.address.$touched && formPartner.address.$valid}" type="text" ng-model="form.address" placeholder="Direcciòn" required>
                <span class="icon is-small is-right">
                    <i ng-class="{'fa fa-warning':formPartner.address.$touched && formPartner.address.$invalid,'fa fa-check':formPartner.address.$touched && formPartner.address.$valid}"></i>
                  </span>
              </div>-->
              <!--p class="help is-danger">This email is invalid</p-->
            </div>
            <div class="field">
              <div id="address" class="flex wrap columns">
                <div class="column is-6">
                  <label class="label">Dirección</label>
                  <div class="columns">
                    <div class="column is-6 control">
                      <input id="route" disabled="true" class="input" required/>
                    </div>
                    <div class="column is-6 control">
                      <input id="street_number" disabled="true" class="input"/>
                    </div>
                  </div>
                </div>
                <div class="column is-2">
                  <label class="label">Ciudad</label>
                  <div class="control">
                    <input id="locality" disabled="true" class="input" required/>
                  </div>
                </div>
                <div class="column is-2">
                  <label class="label">Dpto</label>
                  <div class="control">
                    <input id="state" disabled="true" class="input" required/>
                  </div>
                </div>
                <div class="column is-2">
                  <label class="label">País</label>
                  <div class="control">
                    <input id="country" disabled="true" class="input" required/>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-4">
                <label class="label">Teléfono</label>
                <div class="control has-icons-right">
                  <input name="phone" class="input" ng-class="{'is-danger': formPartner.phone.$touched && formPartner.phone.$invalid,'is-success':formPartner.phone.$touched && formPartner.phone.$valid}" type="number" ng-model="form.phone" placeholder="Text input" required>
                  <span class="icon is-small is-right">
                      <i ng-class="{'fa fa-warning':formPartner.phone.$touched && formPartner.phone.$invalid,'fa fa-check':formPartner.phone.$touched && formPartner.phone.$valid}"></i>
                    </span>
                </div>
                <!--p class="help is-success">This username is available</p-->
              </div>
              <div class="column is-4">
                <label class="label">Email</label>
                <div class="control has-icons-right">
                  <input name="email" class="input" ng-class="{'is-danger': formPartner.email.$touched && formPartner.email.$invalid,'is-success':formPartner.email.$touched && formPartner.email.$valid}" ng-model="form.email" placeholder="creetec@mail.com" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" required>
                  <span class="icon is-small is-right">
                      <i ng-class="{'fa fa-warning':formPartner.email.$touched && formPartner.email.$invalid,'fa fa-check':formPartner.email.$touched && formPartner.email.$valid}"></i>
                    </span>
                </div>
                <!--p class="help is-success">This username is available</p-->
              </div>
              <div class="column is-4">
                <label class="label">Website</label>
                <div class="control has-icons-right">
                  <input name="website" class="input" ng-class="{'is-danger': formPartner.website.$touched && formPartner.website.$invalid,'is-success':formPartner.website.$touched && formPartner.website.$valid}" ng-model="form.website" placeholder="creetec.com" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" required>
                  <span class="icon is-small is-right">
                      <i ng-class="{'fa fa-warning':formPartner.website.$touched && formPartner.website.$invalid,'fa fa-check':formPartner.website.$touched && formPartner.website.$valid}"></i>
                    </span>
                </div>
                <!--p class="help is-success">This username is available</p-->
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="field">
        <span class="title is-4">Descripción</span>
        <div class="control">
          <textarea class="textarea" ng-maxlength="450" maxlength="450" ng-model="form.description" placeholder="Corta descripción de la empresa. Màximo 450 carácteres"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <!--<button ng-disabled="formPartner.$invalid" ng-click="submit()" class="button is-primary">Submit</button>-->
          <button ng-click="submit()" class="button is-primary">Submit</button>
        </div>
      </div>
    <hr>
    <div class="container">
      <span class="title is-4">Product Name {{form.id}}</span>
      <span ng-if="form.id" class="title is-5 has-text-muted">
          <a href="" ng-click="openModal()">+</a>
        </span>
      <div ng-if="(products.length === 0)">
        <span class="subtitle is-6">{{form.id ? 'AGREGA ITEMS' : 'PARA AÑADIR PRODUCTOS PRIMERO CREA TU EMPRESA :D'}}</span>
      </div>
      <div ng-if="(products.length > 0)" class="columns" style="flex-wrap: wrap">
        <div class="column" style="flex-basis: 50%" ng-repeat="item in products">
          <div class="card">
            <div class="card-content has-text-centered">
              <p class="title is-4">Nombre</p>
              <p class="subtitle is-6">{{item.name}}</p>
              <p class="title is-4">Descripción</p>
              <p class="subtitle is-6">{{item.detail}}</p>
              <p class="title is-4">Precio</p>
              <p class="subtitle is-6">{{item.min}} - {{item.max}}</p>
              <p class="title is-4">Categoría</p>
              <p class="subtitle is-6">{{item.type}}</p>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Edit</a>
              <a href="#" class="card-footer-item">Delete</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" ng-class="{'is-active':showModal}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button ng-click="showModal = false" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form action="" name="formProd">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control has-icons-right">
            <input name="pName" class="input" ng-class="{'is-danger': formProd.pName.$touched && formProd.pName.$invalid,'is-success':formProd.pName.$touched && formProd.pName.$valid}" ng-model="prod.name" type="text" placeholder="CreeTec" required>
            <span class="icon is-small is-right"><i ng-class="{'fa fa-warning':formProd.pName.$touched && formProd.pName.$invalid,'fa fa-check':formProd.pName.$touched && formProd.pName.$valid}"></i></span>
          </div>
        </div>
        <div class="field">
          <span class="title is-4">Descripción</span>
          <div class="control">
            <textarea class="textarea" ng-maxlength="200" maxlength="200" ng-model="prod.description" placeholder="Corta descripción del producto. Màximo 200 carácteres"></textarea>
          </div>
        </div>
        <div class="field columns">
          <div class="field column is-4">
            <label class="label">Precio Mínimo</label>
            <div class="control has-icons-right">
              <input name="min" class="input" ng-class="{'is-danger': formProd.min.$touched && formProd.min.$invalid,'is-success':formProd.min.$touched && formProd.min.$valid}" ng-model="prod.min" type="text" placeholder="CreeTec" required>
              <span class="icon is-small is-right">
                      <i ng-class="{'fa fa-warning':formProd.min.$touched && formProd.min.$invalid,'fa fa-check':formProd.min.$touched && formProd.min.$valid}"></i>
                    </span>
            </div>
          </div>
          <div class="field column is-4">
            <label class="label">Precio Máximo</label>
            <div class="control has-icons-right">
              <input name="max" class="input" ng-class="{'is-danger': formProd.max.$touched && formProd.max.$invalid,'is-success':formProd.max.$touched && formProd.max.$valid}" ng-model="prod.max" type="text" placeholder="CreeTec" required>
              <span class="icon is-small is-right">
                      <i ng-class="{'fa fa-warning':formProd.max.$touched && formProd.max.$invalid,'fa fa-check':formProd.max.$touched && formProd.max.$valid}"></i>
                    </span>
            </div>
          </div>
          <div class="field column is-4">
            <label class="label">Categoría</label>
            <div class="select">
              <select>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <a ng-click="addTodo()" class="button is-success">
        <span class="icon"><i class="fa fa-save"></i></span>
        <span>Guardar</span>
      </a>
      <!--<a class="button is-warning">
        <span class="icon"><i class="fa fa-delete"></i></span>
        <span>Borrar</span>
      </a>-->
      <!--<a class="button">
        <span class="icon"><i class="fa fa-arrow-left"></i></span>
        <span>Cancelar</span>
      </a>-->
      <!--<button class="button is-success">Guardar</button>
      <button class="button is-warning">Borrar</button>
      <button ng-click="showModal = false" class="button">Cancel</button>-->
    </footer>
  </div>
</div>
